*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 8%;
    margin: auto;
    border-bottom: 2px solid black;
    padding: 1rem;
    display: flex;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;
    margin-top: 0;
}

.img:hover{
    transform: scale(110%);
    cursor: pointer;
}

@media (max-width: 900px){
    .header{
        position: fixed;
    }
}

