*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    min-height: 100vh;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24rem;
}

.heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 5rem;
}

.content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75rem;
    width: 100%;
}

.otp{
    margin-top: 2rem;
    width: 100%;
}

.inputBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input{
    border: 1px solid #A4A4A4;
    border-radius: 5px;
}

.resend{
    margin-top: 3rem;
    text-decoration: underline;
    color: #0066FF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
}