*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    overflow: hidden;
    /* margin: 1rem 0; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem 0;
}

.img:hover{
    cursor: pointer;
}

.heading{
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 31rem;
    /* min-width: 70%; */
    margin: 1rem auto;
}

.fromHeading{
    align-self: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.input{
    width: 100%;
    height: 2.5rem;
    margin: 0.75rem 0;
    background: #E9E9E9;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
}

.input:focus{
    outline: none;
}

.error{
    color: red;
    align-self: flex-start;
}

.radio{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 18px;
    margin-top: 1.5rem;
    /* width: 22rem; */
    min-width: 70%;
    align-self: flex-start;
}

.radio a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: blue;
    margin: 0;
}

.radio a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.links{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.button{
    align-self: center;
    width: 100%;
    height: 2.5rem;
    background: #FFC700;
    border-radius: 5px;
    margin-top: 1.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border: none;
}

.button:hover{
    cursor: pointer;
}


.menuslide{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 1rem;
    z-index: 10;
    top: 0;
    left: 0;
}

.menuheader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 1rem; */
}

.menuheading{
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.75rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.menuslide div ul li{
    list-style: none;
}

.link{
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem 0;
}

#backbtn{
    transform: rotateZ(180deg);
}


@media (max-width:550px){

    .form{
        max-width: 25rem;
    }

    .fromHeading{
        font-size: 1rem;
    }
}

@media (max-width:430px){

    .form{
        max-width: 20rem;
    }

    .heading{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .fromHeading{
        font-size: 1rem;
    }
}

@media (max-width:330px){

    .form{
        max-width: 18rem;
    }

    .heading{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .fromHeading{
        font-size: 1rem;
    }
}